@using SifAdmin.Areas.Departamento.Models;
<form method="post">
  <div class="form-group">
    <label asp-for="Codigo_Departamento"></label>
    <input asp-for="Departamento.Codigo_Departamento" class="form-control" id="Codigo_Departamento" name="Codigo_Departamento" aria-describedby="emailHelp" placeholder="Codigo Departamento">
  </div>
  <div class="form-group">
    <label asp-for="Nombre_Departamento"></label>
    <input asp-for="Nombre_Departamento" class="form-control" id="Nombre_Departamento" name="Nombre_Departamento" placeholder="Nombre del Departamento">
  </div>
  <button asp-area="Departamento" asp-controller="Departamento" asp-action="Create" class="btn btn-primary">Crear</button>
</form>